@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  padding: 5px;
  max-width: 1200px;
}
.form-container {
  margin: auto;
  width: 100%;
 
}

